<%- include('../partials/header.ejs') %>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis"><%= blog.blogTitle %></h1>
        <p class="lead"><%= blog.blogDescription %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="/home" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Back to List</a>
            <a href="/editBlog/<%= blog.id %>" class="btn btn-outline-secondary btn-lg px-4">Edit</a>            
            <form action="/deleteBlog/<%= blog.id %>" method="post" class="d-inline">                
                <button type="submit" class="btn btn-lg btn-danger px-4">Delete</a>
            </form>
        </div>
        </div>
        <!-- <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img src="<%= blog.blogImage %>" class="card-img-top" alt="Blog Image">
        </div> -->

        <div class="col-md-10 mx-auto col-lg-5">
            <img src="<%= blog.blogImage %>" class="card-img-top" alt="Blog Image">
          </div>
        
         
    </div>
</div>

<%- include('../partials/footer.ejs') %>